@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-image: url('/webbpage.jpeg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  font-family: 'Montserrat', sans-serif;
}

.neon-text {
  text-shadow: 
      0 0 3px #ffffff, 
      0 0 6px #ffffff, 
      0 0 10px #ff0000, 
      0 0 15px #ff0000, 
      0 0 20px #ff0000;
  animation: neon-flicker 1.5s infinite alternate;
}


@keyframes neon-flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow: 
          0 0 5px #ffffff, 
          0 0 10px #ffffff, 
          0 0 20px #ff0000, 
          0 0 30px #ff0000, 
          0 0 40px #ff0000, 
          0 0 50px #ff0000, 
          0 0 75px #ff0000;
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}